// Variables
// --------------------------------------------------
//==Base color
$blue: #1975D0 !default;
$indigo: #6610f2 !default;
$purple: #764CED !default;
$pink: #e83e8c !default;
$red: #E36857 !default;
$orange: #ED6400 !default;
$yellow: #EEAD60 !default;
$green: #84B28F !default;
$teal: #20c997 !default;
$gray: #A7A7B5 !default;
// Brand colors
$brand-facebook: #3b5998;
$brand-twitter: #3a92c8;
$brand-google: #dd4b39;
$brand-dribbble: #c32361;
$brand-youtube: #b00;
$brand-pinterest: #cb2027;
$brand-instagram: #fb3958;
$brand-rss: #f26522;
$brand-color: #0099fe;
$brand-color-second: #07b8a2;
$brand-color-third: #dd4b39;
// System colors
$white: #fff !default;
$black: #000 !default;
$brand-color:#FA9D00;
$active-color:#FFC200;
$active-color-second:#FF8921;

$blue20: #DDEEF8;

$blue40:#8FC6E5;
$blue50:#6AB0D8;

$grey60:#B5B5B5;
$grey20:#F8F8F8;
$grey80: #505050;
$grey70: #898989;

$text-color:#000;
$text-second:#777790;
$text-color-second:#777790;

$text-color-meta:#797979;
$border-color: #ECECF3;
$bg-color: #F7F7FC;
$bg-color-second: #EAEAEA;
$bar-color:#2B2E49;
$border-radius:10px;
//Font
$font-size-base:12px;
$font-size-heading:20px;





$font-family: 'Manrope',
sans-serif;







// --------------------------------