/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       Waddless Template
    Version:        1.0
    Author:         congnd91
-------------------------------------------------------------------*/
.max10 {
  max-width: 10px;
  margin-left: auto;
  margin-right: auto; }

.max20 {
  max-width: 20px;
  margin-left: auto;
  margin-right: auto; }

.max30 {
  max-width: 30px;
  margin-left: auto;
  margin-right: auto; }

.max40 {
  max-width: 40px;
  margin-left: auto;
  margin-right: auto; }

.max50 {
  max-width: 50px;
  margin-left: auto;
  margin-right: auto; }

.max60 {
  max-width: 60px;
  margin-left: auto;
  margin-right: auto; }

.max70 {
  max-width: 70px;
  margin-left: auto;
  margin-right: auto; }

.max80 {
  max-width: 80px;
  margin-left: auto;
  margin-right: auto; }

.max90 {
  max-width: 90px;
  margin-left: auto;
  margin-right: auto; }

.max100 {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto; }

.max110 {
  max-width: 110px;
  margin-left: auto;
  margin-right: auto; }

.max120 {
  max-width: 120px;
  margin-left: auto;
  margin-right: auto; }

.max130 {
  max-width: 130px;
  margin-left: auto;
  margin-right: auto; }

.max140 {
  max-width: 140px;
  margin-left: auto;
  margin-right: auto; }

.max150 {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto; }

.max160 {
  max-width: 160px;
  margin-left: auto;
  margin-right: auto; }

.max170 {
  max-width: 170px;
  margin-left: auto;
  margin-right: auto; }

.max180 {
  max-width: 180px;
  margin-left: auto;
  margin-right: auto; }

.max190 {
  max-width: 190px;
  margin-left: auto;
  margin-right: auto; }

.max200 {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto; }

.max210 {
  max-width: 210px;
  margin-left: auto;
  margin-right: auto; }

.max220 {
  max-width: 220px;
  margin-left: auto;
  margin-right: auto; }

.max230 {
  max-width: 230px;
  margin-left: auto;
  margin-right: auto; }

.max240 {
  max-width: 240px;
  margin-left: auto;
  margin-right: auto; }

.max250 {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto; }

.max260 {
  max-width: 260px;
  margin-left: auto;
  margin-right: auto; }

.max270 {
  max-width: 270px;
  margin-left: auto;
  margin-right: auto; }

.max280 {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto; }

.max290 {
  max-width: 290px;
  margin-left: auto;
  margin-right: auto; }

.max300 {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto; }

.max310 {
  max-width: 310px;
  margin-left: auto;
  margin-right: auto; }

.max320 {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto; }

.max330 {
  max-width: 330px;
  margin-left: auto;
  margin-right: auto; }

.max340 {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto; }

.max350 {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto; }

.max360 {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto; }

.max370 {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto; }

.max380 {
  max-width: 380px;
  margin-left: auto;
  margin-right: auto; }

.max390 {
  max-width: 390px;
  margin-left: auto;
  margin-right: auto; }

.max400 {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto; }

.max410 {
  max-width: 410px;
  margin-left: auto;
  margin-right: auto; }

.max420 {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto; }

.max430 {
  max-width: 430px;
  margin-left: auto;
  margin-right: auto; }

.max440 {
  max-width: 440px;
  margin-left: auto;
  margin-right: auto; }

.max450 {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto; }

.max460 {
  max-width: 460px;
  margin-left: auto;
  margin-right: auto; }

.max470 {
  max-width: 470px;
  margin-left: auto;
  margin-right: auto; }

.max480 {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto; }

.max490 {
  max-width: 490px;
  margin-left: auto;
  margin-right: auto; }

.max500 {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }

.max510 {
  max-width: 510px;
  margin-left: auto;
  margin-right: auto; }

.max520 {
  max-width: 520px;
  margin-left: auto;
  margin-right: auto; }

.max530 {
  max-width: 530px;
  margin-left: auto;
  margin-right: auto; }

.max540 {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto; }

.max550 {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto; }

.max560 {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto; }

.max570 {
  max-width: 570px;
  margin-left: auto;
  margin-right: auto; }

.max580 {
  max-width: 580px;
  margin-left: auto;
  margin-right: auto; }

.max590 {
  max-width: 590px;
  margin-left: auto;
  margin-right: auto; }

.max600 {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto; }

.max610 {
  max-width: 610px;
  margin-left: auto;
  margin-right: auto; }

.max620 {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto; }

.max630 {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto; }

.max640 {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto; }

.max650 {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto; }

.max660 {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto; }

.max670 {
  max-width: 670px;
  margin-left: auto;
  margin-right: auto; }

.max680 {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto; }

.max690 {
  max-width: 690px;
  margin-left: auto;
  margin-right: auto; }

.max700 {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto; }

.max710 {
  max-width: 710px;
  margin-left: auto;
  margin-right: auto; }

.max720 {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto; }

.max730 {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto; }

.max740 {
  max-width: 740px;
  margin-left: auto;
  margin-right: auto; }

.max750 {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto; }

.max760 {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto; }

.max770 {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto; }

.max780 {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto; }

.max790 {
  max-width: 790px;
  margin-left: auto;
  margin-right: auto; }

.max800 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

.max810 {
  max-width: 810px;
  margin-left: auto;
  margin-right: auto; }

.max820 {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto; }

.max830 {
  max-width: 830px;
  margin-left: auto;
  margin-right: auto; }

.max840 {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto; }

.max850 {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto; }

.max860 {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto; }

.max870 {
  max-width: 870px;
  margin-left: auto;
  margin-right: auto; }

.max880 {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto; }

.max890 {
  max-width: 890px;
  margin-left: auto;
  margin-right: auto; }

.max900 {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto; }

.max910 {
  max-width: 910px;
  margin-left: auto;
  margin-right: auto; }

.max920 {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto; }

.max930 {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto; }

.max940 {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto; }

.max950 {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto; }

.max960 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.max970 {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto; }

.max980 {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto; }

.max990 {
  max-width: 990px;
  margin-left: auto;
  margin-right: auto; }

.max1000 {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.max1010 {
  max-width: 1010px;
  margin-left: auto;
  margin-right: auto; }

.max1020 {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto; }

.max1030 {
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto; }

.max1040 {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto; }

.max1050 {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto; }

.max1060 {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto; }

.max1070 {
  max-width: 1070px;
  margin-left: auto;
  margin-right: auto; }

.max1080 {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto; }

.max1090 {
  max-width: 1090px;
  margin-left: auto;
  margin-right: auto; }

.max1100 {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto; }

.max1110 {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto; }

.max1120 {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto; }

.max1130 {
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto; }

.max1140 {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto; }

.max1150 {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto; }

.max1160 {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto; }

.max1170 {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto; }

.max1180 {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto; }

.max1190 {
  max-width: 1190px;
  margin-left: auto;
  margin-right: auto; }

.max1200 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.max1210 {
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto; }

.max1220 {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto; }

.max1230 {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto; }

.max1240 {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto; }

.max1250 {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto; }

.max1260 {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto; }

.max1270 {
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto; }

.max1280 {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }

.max1290 {
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto; }

.max1300 {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto; }

.max1310 {
  max-width: 1310px;
  margin-left: auto;
  margin-right: auto; }

.max1320 {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto; }

.max1330 {
  max-width: 1330px;
  margin-left: auto;
  margin-right: auto; }

.max1340 {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto; }

.max1350 {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto; }

.max1360 {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto; }

.max1370 {
  max-width: 1370px;
  margin-left: auto;
  margin-right: auto; }

.max1380 {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto; }

.max1390 {
  max-width: 1390px;
  margin-left: auto;
  margin-right: auto; }

.max1400 {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; }

.max1410 {
  max-width: 1410px;
  margin-left: auto;
  margin-right: auto; }

.max1420 {
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto; }

.max1430 {
  max-width: 1430px;
  margin-left: auto;
  margin-right: auto; }

.max1440 {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }

.max1450 {
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto; }

.max1460 {
  max-width: 1460px;
  margin-left: auto;
  margin-right: auto; }

.max1470 {
  max-width: 1470px;
  margin-left: auto;
  margin-right: auto; }

.max1480 {
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto; }

.max1490 {
  max-width: 1490px;
  margin-left: auto;
  margin-right: auto; }

.max1500 {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto; }

.max1510 {
  max-width: 1510px;
  margin-left: auto;
  margin-right: auto; }

.max1520 {
  max-width: 1520px;
  margin-left: auto;
  margin-right: auto; }

.max1530 {
  max-width: 1530px;
  margin-left: auto;
  margin-right: auto; }

.max1540 {
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto; }

.max1550 {
  max-width: 1550px;
  margin-left: auto;
  margin-right: auto; }

.max1560 {
  max-width: 1560px;
  margin-left: auto;
  margin-right: auto; }

.max1570 {
  max-width: 1570px;
  margin-left: auto;
  margin-right: auto; }

.max1580 {
  max-width: 1580px;
  margin-left: auto;
  margin-right: auto; }

.max1590 {
  max-width: 1590px;
  margin-left: auto;
  margin-right: auto; }

.max1600 {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto; }

.max1610 {
  max-width: 1610px;
  margin-left: auto;
  margin-right: auto; }

.max1620 {
  max-width: 1620px;
  margin-left: auto;
  margin-right: auto; }

.max1630 {
  max-width: 1630px;
  margin-left: auto;
  margin-right: auto; }

.max1640 {
  max-width: 1640px;
  margin-left: auto;
  margin-right: auto; }

.max1650 {
  max-width: 1650px;
  margin-left: auto;
  margin-right: auto; }

.max1660 {
  max-width: 1660px;
  margin-left: auto;
  margin-right: auto; }

.max1670 {
  max-width: 1670px;
  margin-left: auto;
  margin-right: auto; }

.max1680 {
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto; }

.max1690 {
  max-width: 1690px;
  margin-left: auto;
  margin-right: auto; }

.max1700 {
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto; }

.max1710 {
  max-width: 1710px;
  margin-left: auto;
  margin-right: auto; }

.max1720 {
  max-width: 1720px;
  margin-left: auto;
  margin-right: auto; }

.max1730 {
  max-width: 1730px;
  margin-left: auto;
  margin-right: auto; }

.max1740 {
  max-width: 1740px;
  margin-left: auto;
  margin-right: auto; }

.max1750 {
  max-width: 1750px;
  margin-left: auto;
  margin-right: auto; }

.max1760 {
  max-width: 1760px;
  margin-left: auto;
  margin-right: auto; }

.max1770 {
  max-width: 1770px;
  margin-left: auto;
  margin-right: auto; }

.max1780 {
  max-width: 1780px;
  margin-left: auto;
  margin-right: auto; }

.max1790 {
  max-width: 1790px;
  margin-left: auto;
  margin-right: auto; }

.max1800 {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto; }

.max1810 {
  max-width: 1810px;
  margin-left: auto;
  margin-right: auto; }

.max1820 {
  max-width: 1820px;
  margin-left: auto;
  margin-right: auto; }

.max1830 {
  max-width: 1830px;
  margin-left: auto;
  margin-right: auto; }

.max1840 {
  max-width: 1840px;
  margin-left: auto;
  margin-right: auto; }

.max1850 {
  max-width: 1850px;
  margin-left: auto;
  margin-right: auto; }

.max1860 {
  max-width: 1860px;
  margin-left: auto;
  margin-right: auto; }

.max1870 {
  max-width: 1870px;
  margin-left: auto;
  margin-right: auto; }

.max1880 {
  max-width: 1880px;
  margin-left: auto;
  margin-right: auto; }

.max1890 {
  max-width: 1890px;
  margin-left: auto;
  margin-right: auto; }

.max1900 {
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto; }

.max1910 {
  max-width: 1910px;
  margin-left: auto;
  margin-right: auto; }

.max1920 {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto; }

.max1930 {
  max-width: 1930px;
  margin-left: auto;
  margin-right: auto; }

.max1940 {
  max-width: 1940px;
  margin-left: auto;
  margin-right: auto; }

.max1950 {
  max-width: 1950px;
  margin-left: auto;
  margin-right: auto; }

.max1960 {
  max-width: 1960px;
  margin-left: auto;
  margin-right: auto; }

.max1970 {
  max-width: 1970px;
  margin-left: auto;
  margin-right: auto; }

.max1980 {
  max-width: 1980px;
  margin-left: auto;
  margin-right: auto; }

.max1990 {
  max-width: 1990px;
  margin-left: auto;
  margin-right: auto; }

.max2000 {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto; }

html {
  height: 100%; }

body {
  min-width: 400px;
  font-size: 14px;
  color: #000;
  line-height: 1.3;
  margin: 0px;
  padding: 0px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
  height: 100%; }

a {
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

.row {
  margin-left: -10px;
  margin-right: -10px; }
  .row .col,
  .row .col-1,
  .row .col-10,
  .row .col-11,
  .row .col-12,
  .row .col-2,
  .row .col-3,
  .row .col-4,
  .row .col-5,
  .row .col-6,
  .row .col-7,
  .row .col-8,
  .row .col-9,
  .row .col-auto,
  .row .col-lg,
  .row .col-lg-1,
  .row .col-lg-10,
  .row .col-lg-11,
  .row .col-lg-12,
  .row .col-lg-2,
  .row .col-lg-3,
  .row .col-lg-4,
  .row .col-lg-5,
  .row .col-lg-6,
  .row .col-lg-7,
  .row .col-lg-8,
  .row .col-lg-9,
  .row .col-lg-auto,
  .row .col-md,
  .row .col-md-1,
  .row .col-md-10,
  .row .col-md-11,
  .row .col-md-12,
  .row .col-md-2,
  .row .col-md-3,
  .row .col-md-4,
  .row .col-md-5,
  .row .col-md-6,
  .row .col-md-7,
  .row .col-md-8,
  .row .col-md-9,
  .row .col-md-auto,
  .row .col-sm,
  .row .col-sm-1,
  .row .col-sm-10,
  .row .col-sm-11,
  .row .col-sm-12,
  .row .col-sm-2,
  .row .col-sm-3,
  .row .col-sm-4,
  .row .col-sm-5,
  .row .col-sm-6,
  .row .col-sm-7,
  .row .col-sm-8,
  .row .col-sm-9,
  .row .col-sm-auto,
  .row .col-xl,
  .row .col-xl-1,
  .row .col-xl-10,
  .row .col-xl-11,
  .row .col-xl-12,
  .row .col-xl-2,
  .row .col-xl-3,
  .row .col-xl-4,
  .row .col-xl-5,
  .row .col-xl-6,
  .row .col-xl-7,
  .row .col-xl-8,
  .row .col-xl-9,
  .row .col-xl-auto {
    padding-left: 10px;
    padding-right: 10px; }

.row-fix {
  margin-left: -10px;
  margin-right: -10px; }
  .row-fix .col-fix {
    padding-left: 10px;
    padding-right: 10px; }

img {
  max-width: 100%; }

.bg-white {
  background-color: #fff; }

.bg-black {
  background-color: #000; }

.bg-sliver {
  background-color: #F7F7FC; }

.text-active {
  color: #FFC200; }

.text-blue {
  color: #3d4bc7; }

.text-yellow {
  color: #EEAD60; }

.text-pink {
  color: #ff5775; }

.bg-green {
  background-color: #F3FCF5; }

.bg-red {
  background-color: #FFF5F4; }

.bg-yellow {
  background-color: #FFF9F2; }

.bg-gray {
  background-color: #F8F8FC; }

.badge {
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  padding: 6px 6px;
  position: relative;
  z-index: 2; }
  .badge.green {
    background-color: #84B28F; }
  .badge.red {
    background-color: #E36857; }
  .badge.yellow {
    background-color: #EEAD60; }
  .badge.gray {
    background-color: #A7A7B5; }

.field {
  margin: 0px 0px 15px 0px; }
  .field .field-cap {
    font-size: 13px;
    font-weight: 600;
    margin: 0px 0px 5px 0px;
    color: #777790; }
  .field .field-caption {
    font-size: 13px;
    font-weight: 600;
    margin: 0px 0px 5px 0px;
    color: #777790; }
  .field.yellow .input,
  .field.yellow .textarea,
  .field.yellow select {
    border: 1px solid #EEAD60; }
  .field.red .input,
  .field.red .textarea,
  .field.red select {
    border: 1px solid #E36857; }
  .field.green .input,
  .field.green .textarea,
  .field.green select {
    border: 1px solid #84B28F; }

.field-wrap {
  position: relative; }
  .field-wrap P {
    margin: 5PX 0PX 0PX 0PX;
    font-size: 12PX;
    color: #777790; }
  .field-wrap .icon {
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 40px; }
    .field-wrap .icon.icon-email {
      background-image: url(../images/icon-email.svg); }
    .field-wrap .icon.icon-password {
      background-image: url(../images/icon-lock.svg); }

.input {
  width: 100%;
  display: block;
  border: 1px solid #ECECF3;
  border-radius: 10px;
  font-size: 14px;
  padding: 0px 15px;
  font-weight: 600;
  height: 40px;
  transition: all ease 0.3s;
  background-color: #fff; }
  .input:disabled {
    background-color: #eee; }
  .input:focus {
    background-color: #fafafa; }

.select {
  width: 100%;
  display: block;
  border: 1px solid #ECECF3;
  border-radius: 10px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  font-weight: 600;
  height: 40px;
  transition: all ease 0.3s;
  background-color: #fff; }
  .select:focus {
    background-color: #fafafa; }

.textarea {
  width: 100%;
  display: block;
  border: 1px solid #ECECF3;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px 15px;
  font-weight: 600;
  height: 210px;
  transition: all ease 0.3s;
  background-color: #fff; }
  .textarea:focus {
    background-color: #fafafa; }

.checkbox label {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 0px; }
  .checkbox label input {
    margin: 0px 5px 0px 0px; }

.radio {
  display: inline-block; }
  .radio label {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0px; }
    .radio label input {
      margin: 0px 5px 0px 0px;
      position: absolute;
      opacity: 0;
      visibility: hidden; }
      .radio label input:checked ~ span:before {
        border: 1px solid #000; }
      .radio label input:checked ~ span:after {
        width: 10px;
        height: 10px;
        background-color: #000;
        border-radius: 50%;
        display: block;
        position: absolute;
        content: "";
        top: 5px;
        left: 3px;
        border-radius: 10px; }
    .radio label span {
      font-size: 14px;
      display: block;
      padding: 0px 0px 0px 23px;
      position: relative; }
      .radio label span:before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 2px;
        left: 0px;
        border-radius: 50%;
        border: 1px solid #ECECF3; }

.switch {
  display: inline-block;
  cursor: pointer; }
  .switch label {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0px;
    cursor: pointer; }
    .switch label input {
      margin: 0px 5px 0px 0px;
      position: absolute;
      opacity: 0;
      visibility: hidden; }
      .switch label input:checked ~ span:before {
        background-color: #000; }
      .switch label input:checked ~ span:after {
        left: 18px; }
    .switch label span {
      font-size: 14px;
      display: block;
      padding: 0px 0px 0px 40px;
      position: relative;
      color: #777790;
      cursor: pointer; }
      .switch label span:before {
        content: "";
        display: block;
        width: 32px;
        height: 17px;
        position: absolute;
        top: 2px;
        left: 0px;
        background-color: #ECECF3;
        border-radius: 10px; }
      .switch label span:after {
        width: 13px;
        height: 13px;
        background-color: #fff;
        content: "";
        display: block;
        position: absolute;
        top: 4px;
        left: 2px;
        border-radius: 50%;
        transition: all ease 0.3s; }

.button {
  height: 40px;
  line-height: 40px;
  padding: 0px 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #fafafa;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  text-align: center;
  transition: all ease 0.3s;
  justify-content: center; }
  .button.button-large {
    min-height: 60px;
    padding: 0px 40px;
    font-size: 22px; }
  .button .icon {
    flex-shrink: 0;
    margin: 0px 5px 0px 0px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center; }
    .button .icon.icon-push {
      background-image: url(../images/icon-push.svg); }
    .button .icon.icon-plus {
      background-image: url(../images/icon-plus.svg); }
    .button .icon.icon-refresh {
      background-image: url(../images/icon-refresh.svg); }
    .button .icon.icon-filter {
      background-image: url(../images/icon-filter.svg); }
    .button .icon.icon-time {
      background-image: url(../images/icon-time.svg); }
    .button .icon.icon-export {
      background-image: url(../images/icon-export.svg); }
    .button .icon.icon-script {
      background-image: url(../images/icon-script-white.svg); }
  .button.button-brand {
    background-color: #000;
    color: #fff; }
    .button.button-brand:hover {
      color: #fff;
      background-color: #1a1919; }
  .button.button-border {
    background-color: #fff;
    color: #000;
    border: 1px solid #ECECF3; }
    .button.button-border:hover {
      background-color: #fafafa;
      color: #000; }
  .button.button-danger {
    background-color: #E36857;
    color: #fff;
    border: 1px solid #E36857; }
    .button.button-danger:hover {
      background-color: #df5441;
      color: #fff; }

.searchbox {
  position: relative; }
  .searchbox button {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    bottom: 0px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url(../images/icon-search.svg);
    background-repeat: no-repeat;
    background-position: center center; }
  .searchbox input {
    height: 40px;
    line-height: 40px;
    padding: 0px 10px 0px 10px;
    text-align: left;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    background-color: transparent;
    border: 1px solid #ECECF3;
    transition: all ease 0.3s;
    display: block;
    width: 100%; }
    .searchbox input:focus {
      background-color: #fafafa; }

.datepicker-dropdown.datepicker-orient-bottom:before {
  display: none; }

.datepicker-dropdown.datepicker-orient-bottom:after {
  display: none; }

.datepicker {
  padding: 5px 15px 15px 15px; }

.datepicker td,
.datepicker th {
  text-align: center;
  width: 35px;
  height: 35px;
  border-radius: 8px !important;
  border: none; }

.datepicker.datepicker-dropdown {
  margin-top: 37px; }

.datepicker-switch {
  font-size: 14px !important;
  color: #000 !important; }

.datepicker .prev {
  color: transparent;
  background-image: url(../images/date-prev.svg);
  background-repeat: no-repeat;
  background-position: center center; }

.datepicker .next {
  font-size: 14px !important;
  background-image: url(../images/date-prev.svg);
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotate(180deg);
  color: transparent; }

.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active[disabled] {
  background-color: #000 !important;
  background-image: none !important; }

.datepicker td {
  font-size: 14px !important; }

.datepicker th {
  color: #777790;
  font-size: 10px; }

.paging {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .paging span {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    line-height: 35px;
    font-size: 16px;
    color: #000;
    text-align: center; }
  .paging a {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    line-height: 35px;
    font-size: 16px;
    color: #000;
    text-align: center; }
    .paging a:hover {
      background-color: #fafafa; }
    .paging a.current {
      background-color: #000;
      color: #fff;
      text-align: center; }
    .paging a.next {
      background-image: url(../images/next.svg);
      background-repeat: no-repeat;
      background-position: center center; }
    .paging a.last {
      background-image: url(../images/last.svg);
      background-repeat: no-repeat;
      background-position: center center; }
    .paging a.prev {
      background-image: url(../images/next.svg);
      background-repeat: no-repeat;
      background-position: center center;
      transform: rotate(180deg); }
    .paging a.first {
      background-image: url(../images/last.svg);
      background-repeat: no-repeat;
      background-position: center center;
      transform: rotate(180deg); }

.score-text {
  font-size: 40px !important;
  font-weight: 800; }

.tab-content > .tab-pane {
  border: 1px solid #dee2e6;
  padding: 20px;
  border-top: none; }

.modal {
  padding: 0px 20px; }

.modal-content {
  border: none;
  background-color: #fff;
  border-radius: 10px; }

.modal-create {
  padding: 30px 50px 30px 50px;
  position: relative; }
  @media screen and (max-width: 991px) {
    .modal-create {
      padding: 20px 20px; } }
  .modal-create .control {
    padding-top: 20px; }
    .modal-create .control .button {
      margin: 0px 10px; }

.text-second {
  color: #666; }

.font-normal {
  font-weight: normal; }

.text-404 {
  font-weight: 900;
  font-size: 60px; }

body {
  text-align: unset;
  background-color: #ffff;
  min-width: 500px; }

.page-preload {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff; }

.header-component {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;
  background-color: #fff;
  border-bottom: 1px solid #ECECF3;
  min-width: 400px;
  padding: 15px 20px 15px 20px; }
  .header-component .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header-component .header-flex .left {
      display: flex;
      align-items: center; }
  .header-component .menu-component {
    margin: 0px 0px 0px 50px;
    list-style: none;
    padding: 0px; }
    @media screen and (max-width: 991px) {
      .header-component .menu-component {
        margin: 0px 0px 0px 0px; } }
    .header-component .menu-component ul {
      margin: 0px 0px 0px 0px;
      list-style: none;
      padding: 0px; }
    .header-component .menu-component li {
      display: inline-block;
      margin: 0px 10px 0px 0px;
      border-bottom: 2px solid transparent; }
      @media screen and (max-width: 991px) {
        .header-component .menu-component li {
          margin: 0px; } }
      .header-component .menu-component li a {
        line-height: 40px;
        font-size: 14px;
        font-weight: 700;
        color: #000;
        display: block;
        border-radius: 6px;
        padding: 0px 20px; }
        @media screen and (max-width: 991px) {
          .header-component .menu-component li a {
            padding: 0px 10px; } }
        .header-component .menu-component li a:hover {
          background-color: #F7F7FC;
          color: #FA9D00; }

.footer-component {
  background-color: #fff;
  border-top: 1px solid #ECECF3;
  padding: 15px 30px 15px 30px;
  margin: 0px -25px; }
  .footer-component .footer-flex {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer-component ul {
    list-style: none;
    padding: 0px;
    margin: 0px; }
    .footer-component ul li {
      margin: 0px 0px 0px 20px;
      display: inline-block; }
      .footer-component ul li a {
        color: #000; }
        .footer-component ul li a:hover {
          color: #FA9D00; }

.menu-icon {
  margin: 0px 20px 0px 0px;
  font-size: 20px;
  color: #666;
  cursor: pointer;
  display: none; }
  @media screen and (max-width: 991px) {
    .menu-icon {
      display: block; } }

.contact-component p {
  font-size: 13px; }
  .contact-component p i {
    width: 20px;
    text-align: left;
    display: inline-block; }

.logo-component {
  position: absolute;
  top: 10px;
  left: 50%;
  margin: 0px 0px 0px 70px; }
  @media screen and (max-width: 991px) {
    .logo-component {
      position: relative;
      margin: 0px;
      top: unset;
      left: unset; } }
  .logo-component img {
    width: 50px; }

.open-menu .navigation-component {
  left: 0px; }

.navigation-component {
  background-color: #F7F7FC;
  z-index: 100;
  width: 205px;
  position: fixed;
  top: 80px;
  left: 0px;
  bottom: 0px;
  transition: all ease 0.3s; }
  @media screen and (max-width: 991px) {
    .navigation-component {
      left: -205px; } }
  .navigation-component .scroll {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding-top: 30px; }
  .navigation-component .sidebar-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: calc(100vh - 120px); }
  .navigation-component .brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px 0px 45px;
    margin: 0px 0px 40px 0px; }
    .navigation-component .brand img {
      height: 38px; }
  .navigation-component .menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    .navigation-component .menu ul li {
      margin: 0px 10px 5px 10px; }
      .navigation-component .menu ul li a {
        display: block;
        display: flex;
        position: relative;
        font-size: 14px;
        font-weight: 500;
        color: #777790;
        align-items: center;
        transition: all ease 0.3s;
        padding: 6px 10px 6px 10px;
        border-radius: 6px; }
        .navigation-component .menu ul li a .icon {
          flex-shrink: 0;
          width: 30px;
          height: 30px;
          background-repeat: no-repeat;
          background-position: center center;
          margin: 0px 10px 0px 0px; }
          .navigation-component .menu ul li a .icon i {
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-size: 16px; }
      .navigation-component .menu ul li:hover a {
        color: #000;
        background-color: #fff; }
      .navigation-component .menu ul li.active a {
        background-color: #fff4e1;
        color: #000;
        color: #FA9D00; }
  .navigation-component .user {
    background-color: #202020;
    padding: 16px 10px 16px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navigation-component .user .avatar {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      flex-shrink: 0;
      margin: 0px 10px 0px 0px; }
      .navigation-component .user .avatar img {
        width: 48px;
        height: 48px;
        display: block;
        border-radius: 50%; }
    .navigation-component .user .name h3 {
      font-size: 14px;
      color: #fff;
      margin: 0px; }
    .navigation-component .user .name p {
      font-size: 12px;
      font-weight: 700;
      color: #9B9B9B;
      margin: 0px; }
    .navigation-component .user .control {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      cursor: pointer; }
      .navigation-component .user .control .dots {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px; }
        .navigation-component .user .control .dots span {
          width: 4px;
          height: 4px;
          background-color: #D8D8D8;
          border-radius: 50%;
          margin: 0px 1px; }

.dropdown-toggle {
  padding: 0px 15px !important;
  text-align: left; }

.user-component .dropdown-toggle {
  background-color: #FA9D00;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  padding: 0px 0px !important; }
  .user-component .dropdown-toggle i {
    font-size: 22px;
    display: block;
    line-height: 45px;
    color: #fff; }
  .user-component .dropdown-toggle::after {
    display: none; }
  .user-component .dropdown-toggle img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: block;
    border: 1px solid #FA9D00; }

.login-component {
  padding: 10px 20px 20px 20px;
  width: 270px; }
  .login-component .auth-caption {
    text-align: center;
    margin: 0px 0px 24px 0px; }
    .login-component .auth-caption .icon {
      text-align: center;
      margin: 0px 0px 20px 0px; }
    .login-component .auth-caption h3 {
      font-size: 22px;
      font-weight: bold;
      margin: 0px 0px 5px 0px; }
    .login-component .auth-caption p {
      font-size: 14px;
      color: #777790;
      margin: 0px; }
  .login-component .forgot-password {
    text-align: center;
    padding: 10px 0px 0px 0px; }
    .login-component .forgot-password a {
      color: #000;
      transition: all ease 0.3s;
      font-size: 14px; }
      .login-component .forgot-password a:hover {
        color: #FA9D00; }

.logged-component {
  padding: 10px 0px 0px 0px;
  width: 200px;
  text-align: center; }
  .logged-component .avatar {
    text-align: center; }
    .logged-component .avatar img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 1px solid #FA9D00;
      margin: 0px auto 10px auto;
      display: block; }
  .logged-component ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
    text-align: left;
    padding: 0px 0px 0px 0px; }
    .logged-component ul li {
      border-top: 1px solid #ECECF3; }
      .logged-component ul li a {
        color: #000;
        font-size: 14px;
        padding: 12px 10px 12px 35px;
        display: block; }
        .logged-component ul li a i {
          display: inline-block;
          width: 25px;
          text-align: center; }
        .logged-component ul li a:hover {
          color: #FA9D00; }

.main-component {
  position: absolute;
  top: 80px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding: 30px 25px 0px 25px;
  overflow: auto;
  min-width: 500px; }
  @media screen and (max-width: 991px) {
    .main-component {
      left: 0px; } }

.head-flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .head-flex h1 {
    margin: 0px;
    padding: 0px;
    font-size: 28px;
    font-weight: bold; }

.dropdown-menu {
  border: 2px solid #ECECF3;
  border-radius: 10px; }
  .dropdown-menu .checkbox {
    display: block;
    padding: 5px 10px; }
  .dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 10px 20px; }

.dropdown-item.active,
.dropdown-item:active {
  background-color: #fafafa;
  color: #000; }

.dashboard-content {
  padding: 0px 0px 50px 0px;
  min-height: calc(100vh - 185px); }

.block {
  border: 1px solid #ECECF3;
  min-height: 100px;
  padding: 30px 30px;
  border-radius: 15px;
  margin: 0px 0px 20px 0px;
  background-color: #F7F7FC;
  min-width: 650px; }
  @media screen and (max-width: 1299px) {
    .block {
      padding: 20px 20px; } }
  .block .block-caption {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .block .block-caption .left {
      display: flex;
      align-items: center; }
      .block .block-caption .left .icon {
        flex-shrink: 0;
        margin: 0px 10px 0px 0px; }
      .block .block-caption .left .des {
        width: 100%; }
        .block .block-caption .left .des p {
          margin: 8px 0px 0px 0px;
          font-size: 12px;
          color: #777790;
          font-weight: 500; }
    .block .block-caption h3 {
      font-size: 18px;
      font-weight: 600;
      margin: 0px; }
      @media screen and (max-width: 1299px) {
        .block .block-caption h3 {
          font-size: 15px; } }
    .block .block-caption a {
      font-size: 14px;
      color: #777790;
      font-weight: 600; }
      @media screen and (max-width: 1299px) {
        .block .block-caption a {
          font-size: 12px; } }
      .block .block-caption a:hover {
        color: #000; }
  .block .progress-wrap {
    margin: 20px 0px 0px 0px;
    padding-bottom: 10px; }
    .block .progress-wrap .progress-cap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      font-weight: 500;
      margin: 0px 0px 5px 0px; }
      .block .progress-wrap .progress-cap em {
        font-style: normal;
        color: #777790; }
    .block .progress-wrap .progress-bar {
      height: 8px;
      border-radius: 5px;
      position: relative;
      background-color: #F4F4F9; }
      .block .progress-wrap .progress-bar .progress-value {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        border-radius: 4px;
        background-color: #84B28F; }
  .block .content-empty {
    min-height: 248px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .block .content-empty p {
      font-size: 14px;
      font-weight: 400;
      color: #777790;
      margin: 10px 0px 0px 0px; }
  .block .content-chart {
    min-height: 225px;
    max-height: 225px;
    text-align: center;
    padding: 20px 0px 0px 0px; }
    .block .content-chart .inner {
      display: inline-block;
      max-width: 250px; }
    .block .content-chart img {
      max-width: 100%; }

.avatar-component {
  width: 50px;
  height: 50px; }
  .avatar-component img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block; }

.item-component {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 0px 15px 0px;
  background-color: #fff; }
  .item-component .item-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -8px; }
    .item-component .item-flex .item-col {
      width: 15%;
      padding: 0px 8px; }
      .item-component .item-flex .item-col:nth-child(1) {
        width: 25%; }
  .item-component .item-info {
    display: flex; }
    .item-component .item-info .avatar-component {
      flex-shrink: 0;
      margin: 0px 12px 0px 0px; }

.item-admin-component {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 0px 15px 0px;
  background-color: #fff; }
  .item-admin-component .item-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -8px; }
    .item-admin-component .item-flex .item-col {
      width: 25%;
      padding: 0px 8px; }
      .item-admin-component .item-flex .item-col:nth-child(1) {
        width: 25%; }
  .item-admin-component .item-info {
    display: flex; }
    .item-admin-component .item-info .avatar-component {
      flex-shrink: 0;
      margin: 0px 12px 0px 0px; }

.item-single-component {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 0px 15px 0px;
  background-color: #fff; }
  .item-single-component .item-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -8px; }
    .item-single-component .item-flex .item-col {
      width: 15%;
      padding: 0px 8px; }
      .item-single-component .item-flex .item-col:nth-child(1) {
        width: 10%; }
      .item-single-component .item-flex .item-col:nth-child(4) {
        width: 20%; }
      .item-single-component .item-flex .item-col:nth-child(5) {
        width: 40%; }
  .item-single-component .item-info {
    display: flex; }
    .item-single-component .item-info .avatar-component {
      flex-shrink: 0;
      margin: 0px 12px 0px 0px; }

.item-flight-component {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 0px 15px 0px;
  background-color: #fff; }
  .item-flight-component .item-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -8px; }
    .item-flight-component .item-flex .item-col {
      width: 14.285%;
      padding: 0px 8px; }
      .item-flight-component .item-flex .item-col:nth-child(1) {
        width: 18.285%; }
      .item-flight-component .item-flex .item-col:nth-child(7) {
        width: 10.285%; }
      .item-flight-component .item-flex .item-col.item-col-fix {
        width: 10.285%; }
  .item-flight-component .item-info {
    display: flex; }
    .item-flight-component .item-info .avatar-component {
      flex-shrink: 0;
      margin: 0px 12px 0px 0px; }

.avatar-large {
  width: 120px;
  margin: 0px auto 20px auto; }
  .avatar-large img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block; 

  }


.avatar-small {
    width: 120px;
    height: 120px;
    margin: 0px auto 20px auto;
}
    .avatar-small img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        display: block;
    }

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

/****************block************/

/*# sourceMappingURL=main.css.map */